<section>
  <article class="image">
    <img src="../../../assets/images/perfil.jpg" alt="" />
  </article>
  <article class="info">
    <h1>Jonathan Brant</h1>
    <p>
      Graduado em Engenharia Civil e me especializando em Engenharia de
      Software. Atualmente trabalho como Analista de Sistemas na Deloitte.
      Possuo conhecimento em Java, Springboot, MySQL, PostgreSQL, Angular,
      React, Next.js, HTML, CSS, Sass, Bootstrap, Styled-component, Javascript,
      Métodologias Ágeis(Scrum e Kanban). Iniciando meus estudos em Python e
      MongoDB.
    </p>
  </article>
</section>
